In [8]:
import pandas as pd

unlabeled_df = pd.read_csv('../../input/feedback-prize-2021/train.csv').rename(columns={'id':'essay_id'})
unlabeled_df['discourse_id'] = unlabeled_df['discourse_id'].astype(str)

In [9]:
unlabeled_df.head()

,essay_id,discourse_id,discourse_start,discourse_end,discourse_text,discourse_type,discourse_type_num,predictionstring
0,423A1CA112E2,1622627660524.0,8.0,229.0,Modern humans today are always on their phone....,Lead,Lead 1,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
1,423A1CA112E2,1622627653021.0,230.0,312.0,They are some really bad consequences when stu...,Position,Position 1,45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
2,423A1CA112E2,1622627671020.0,313.0,401.0,Some certain areas in the United States ban ph...,Evidence,Evidence 1,60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
3,423A1CA112E2,1622627696365.0,402.0,758.0,"When people have phones, they know about certa...",Evidence,Evidence 2,76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 9...
4,423A1CA112E2,1622627759780.0,759.0,886.0,Driving is one of the way how to get around. P...,Claim,Claim 1,139 140 141 142 143 144 145 146 147 148 149 15...

In [10]:
unlabeled_df['discourse_id'].astype(str)

0         1622627660524.0
1         1622627653021.0
2         1622627671020.0
3         1622627696365.0
4         1622627759780.0
               ...
144288    1618153340639.0
144289    1618153383399.0
144290    1618024996127.0
144291    1618025268756.0
144292    1618025245188.0
Name: discourse_id, Length: 144293, dtype: object